/* =========== APP ================================================= */

* {
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
  font-weight: 700;
}

/* ======= GALLERY LIST ============================================ */

.flexbox-container-list {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* ======= GALLERY ITEM ============================================ */

.flexbox-container-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  padding: 20px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 10px;
  margin: 10px;
}

.flexbox-container-box p {
  margin: 10px 0 0 0;
}

.flexbox-container-box button {
  margin: 10px 0 0 0;
}

.image-container {
  /* background-color: rgb(235, 235, 235); */
  width: 200px;
  /* height: 100px; */
}

.image-container img {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}

.img-description {
  border: 1px solid rgb(218, 218, 218);
  /* color: rgb(255, 255, 255); */
  padding: 20px;
  border-radius: 8px;
}